# alias gr="git rm \$(git ls-files --deleted) " # note: only for bash, bash needs to add \ before $ for this kind of alias
alias ....="cd ../../.."
alias ...="cd ../.."
alias ..="cd .."
alias .4="cd ../../.."
alias .5="cd ../../../.."
alias b="cd -"
alias bashrc="vim ~/.bashrc"
alias c="clear; ls -hF --color=auto"
alias cl2="cat `ls -t|head -n2`"
alias cl="cat `ls -t|head -n1`"
alias cleanscreen="screen -ls | tail -n +2 | head -n -2 | awk '{print $1}' | xargs -I{} screen -S {} -X quit"
alias cp="cp -i"
alias d="du -sh"
alias dimg="docker images"
alias dps="docker ps -a "
alias drm="docker rm "
alias drmall="docker ps -a -q | xargs -I [] docker rm []"
alias drun="docker run --rm  "
alias dstart="docker start "
alias dstop="docker stop "
alias dstopall="docker ps -q | xargs -I [] docker stop []"
alias dup="docker-compose up"
alias e="exit"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias findme="find . -maxdepth 1 -user swa "
alias fishrc="vim ~/.config/fish/config.fish"
alias ga="git add "
alias gc="git commit -m "
alias gd="git diff "
alias gdt="git difftool --tool=vimdiff3 "
alias gl="git log "
alias go="gnome-open "
alias grep="grep --color=auto"
alias gs="git status "
alias h="history"
alias j="jobs -l"
alias l="ls -altr"              # sort by date
alias la="ls -Al"               # show hidden files
alias last2="vim -O `ls -t|head -n2`"
alias last3="vim -p `ls -t|head -n3`"
alias last="vim `ls -t|head -n1`"
alias lc="ls -lcr"              # sort by change time
alias lk="ls -lSr"              # sort by size
alias ll="ls -alF --color=auto"
alias lm="ls -al |more"         # pipe through "more"
alias ls="ls -ahF --color=auto" # add colors for filetype recognition
alias lt="ls -altr"             # sort by date
alias ltt="ls -altr | tail"     # sort by date
alias lu="ls -lur"              # sort by access time
alias lx="ls -lXB"              # sort by extension
alias mkdir="mkdir -p"
alias mv="mv -i"                # Prevents accidentally clobbering files.
alias ngconf="sudo vim /etc/nginx/nginx.conf; cd /etc/nginx/"
alias ngconfd="cd /etc/nginx/conf.d; ls"
alias ngrestart="sudo systemctl restart nginx"
alias ngstart="sudo systemctl start nginx"
alias ngstop="sudo nginx -s stop"
alias ngt="sudo nginx -t"
alias nr="notes read"
alias ns="notes sync"
alias nw="notes write"
alias p="ps aux | grep -i"
alias q="qstat | grep swa"
alias qn="qstat -n"
alias qs="qstat -s"
alias rm="rm -i"
alias sedi="sed -f .sed -i "
alias sl="screen -ls "
alias sr="screen -r "
alias ss="screen -S "
alias sx="screen -x "
alias t="touch "
alias ta="tmux attach -t "
alias tl="tmux ls"
alias tn="tmux new -s "
alias tree="tree -Csu"          # nice alternative to ls
alias ty="tail -f /var/log/messages"
alias v="nvim -u ~/.vimrc.more "
alias vi="nvim"
alias vim="nvim"
alias vimrc="vim ~/.vimrc"
alias vv="vim -u ~/.vimrc.more - "
alias wl="wc -l"
alias xi="xargs -I []"
